<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模版标签</title>
    <style>
        .red{
            background-color: red;
        }
        .yellow{
            background-color: yellow;
        }
        .green{
            background-color: green;
        }
    </style>
</head>
<body>
    <ul>
        {% for book in books %}
            {% comment %}forloop.counter 显示序号{% endcomment %}
            {% if book.id >= 2 %}
                <li class="red">{{ forloop.counter }}----{{ book.btitle }}</li>
            {% elif book.id <= 5 %}
                <li class="yellow">{{ forloop.counter }}----{{ book.btitle }}</li>
            {% else %}
                <li class="green">{{ forloop.counter }}----{{ book.btitle }}</li>
            {% endif %}
        {% empty %}<li>暂无图书信息</li>
        {% endfor %}
    </ul>
</body>
</html>